All stores within 25 miles of <%= params[:search] %></br>
<%= @total %> Total Stores
<% @stores.each do |store| %>
<div class="store">
  <h3 class='name'><%= store.name %></h3><br>
  <ul>
    <li class='city'><%= store.city %></li>
    <li class='distance'><%= store.distance %></li>
    <li class='phone'><%= store.phone %></li>
    <li class='store-type'><%= store.type %></li>
  </ul>
</div>
<% end %>
<%= will_paginate @stores%>
